<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="_22067662_LS_Corp.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="bg-gray-50">
    <form id="form1" runat="server">
        <div class="flex min-h-screen">
            <div class="w-52 fixed h-full bg-[#7f2431]">
                <div class="p-4 border-b-2 border-[#6B1F29]">
                    <h1 class="text-white text-xl font-bold">LS Corporation</h1>
                </div>
                <asp:Menu ID="Menu1" runat="server"
                    CssClass="space-y-1 p-2 flex flex-col"
                    StaticMenuItemStyle-CssClass="text-white px-4 py-2 mb-1 w-48 rounded text-lg hover:bg-[#6B1F29]"
                    StaticSelectedStyle-CssClass="bg-[#71202c] text-white px-4 py-2 mb-1 w-48 rounded text-lg font-medium">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Dashboard" Value="Default"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Users.aspx" Text="Users" Value="Users"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Projects.aspx" Text="Projects" Value="Projects"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/User_Project.aspx" Text="Projects Assigned" Value="UserProject"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Milestones.aspx" Text="Milestones" Value="Milestones"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Tasks.aspx" Text="Tasks" Value="Tasks"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/User_Project_Task.aspx" Text="Tasks Assigned" Value="UserProjectTask"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/SubTasks.aspx" Text="SubTasks" Value="SubTasks"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Resources.aspx" Text="Resources" Value="Resources"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/User_Resource.aspx" Text="Resources Assigned" Value="UserResource"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/Comments.aspx" Text="Comments" Value="Comments"></asp:MenuItem>
                    </Items>
                </asp:Menu>
            </div>
            <div class="ml-52 p-8 flex-1">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
            </div>
        </div>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let currentPage = window.location.pathname.split('/').pop().toLowerCase();
            document.querySelectorAll("#Menu1 a").forEach(link => {
                let linkHref = link.getAttribute("href").split('/').pop().toLowerCase();
                if (linkHref === currentPage) {
                    link.classList.add("bg-[#47151B]");
                }
            });
        });
    </script>
</body>
</html>
